.form{
    display:block;
    margin: 20px;
    border:2px solid rgba(0,0,0,0.07);
    padding:20px;
    box-sizing: border-box; 
}

.form label{
    display:block;
    font-weight: 700;
    font-size: 14px;
    margin:10px 0;
}